@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--programe-elements-bg-depth-1);
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(34, 244, 198, var(--gradient-opacity));
  /* Verde menta neon */
  --secondary-color: rgba(25, 216, 174, var(--gradient-opacity));
  /* Verde turquesa */
  --accent-color: rgba(79, 255, 225, var(--gradient-opacity));
  /* Ciano claro */
}

/* Global Scrollbar Styling */
* {

  // WebKit scrollbar styling
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--programe-elements-borderColor);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--programe-elements-textTertiary);
  }

  // Firefox support
  scrollbar-width: thin;
  scrollbar-color: var(--programe-elements-borderColor) transparent;
}